<a href="https://colab.research.google.com/github/Arush0113/ArushTensorflowRepo/blob/main/HSO_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [52]:
from google.colab import files
uploaded = files.upload()

In [53]:
dataframe1 = pd.read_csv("table1_hso.txt") 
  
# storing this dataframe in a csv file 
dataframe1.to_csv('table1_hso.csv',  
                  index = None)

ParserError: ignored

In [57]:
# file_name = "table1_hso.txt"
# dataset_1 = uploaded[file_name].decode("utf-8")
# dataset_1
df = pd.read_csv('table1_hso.txt', delimiter=' ')
df.head(10)
# df.remove(columns = [''])

                Fall_1990  ... Percentage_change_enrollment_2017_to_2029
1                       2  ...                                      22.0
United_States  41,216,683  ...                                       0.8
Region                NaN  ...                                       NaN
Northeast       7,281,763  ...                                      -3.0
Midwest         9,943,761  ...                                      -2.1
South          14,807,016  ...                                       3.5
West            9,184,143  ...                                       1.2
State                 NaN  ...                                       NaN
Alabama           721,806  ...                                       0.2
Alaska            113,903  ...                                       4.0

[10 rows x 21 columns]

In [55]:
df.drop(columns=['Fall_2018','Fall_2019','Fall_2020','Fall_2021','Fall_2022','Fall_2029','Percentage_change_enrollment_2017_to_2029'], axis=1)

                       Fall_1990  ... Percentage_change_enrollment_2012_to_2017
1                              2  ...                                      15.0
United_States         41,216,683  ...                                       1.8
Region                       NaN  ...                                       NaN
Northeast              7,281,763  ...                                      -0.2
Midwest                9,943,761  ...                                      -0.3
South                 14,807,016  ...                                       3.6
West                   9,184,143  ...                                       2.2
State                        NaN  ...                                       NaN
Alabama                  721,806  ...                                      -0.3
Alaska                   113,903  ...                                       1.1
Arizona                  639,853  ...                                       2.0
Arkansas                 436,286  ...                                       2.0
California             4,950,474  ...                                       0.1
Colorado                 574,213  ...                                       5.4
Connecticut              469,123  ...                                      -3.6
Delaware                  99,658  ...                                       5.6
District_of_Columbia      80,694  ...                                      14.7
Florida                1,861,592  ...                                       5.2
Georgia                1,151,687  ...                                       3.8
Hawaii                   171,708  ...                                      -2.1
Idaho                    220,840  ...                                       5.7
Illinois               1,821,407  ...                                      -3.3
Indiana                  954,525  ...                                       1.2
Iowa                     483,652  ...                                       2.4
Kansas                   437,034  ...                                       1.6
Kentucky                 636,401  ...                                      -0.6
Louisiana                784,757  ...                                       0.6
Maine                    215,149  ...                                      -2.8
Maryland                 715,176  ...                                       4.0
Massachusetts            834,314  ...                                       1.0
Michigan               1,584,431  ...                                      -2.5
Minnesota                756,374  ...                                       4.7
Mississippi              502,417  ...                                      -3.1
Missouri                 816,558  ...                                      -0.3
Montana                  152,974  ...                                       4.6
Nebraska                 274,081  ...                                       6.7
Nevada                   201,316  ...                                       9.0
New_Hampshire            172,785  ...                                      -5.0
New_Jersey             1,089,646  ...                                       2.6
New_Mexico               301,881  ...                                      -1.1
New_York               2,598,337  ...                                       0.5
North_Carolina         1,086,871  ...                                       2.3
North_Dakota             117,825  ...                                      10.7
Ohio                   1,771,089  ...                                      -1.5
Oklahoma                 579,087  ...                                       3.2
Oregon                   472,394  ...                                       3.5
Pennsylvania           1,667,834  ...                                      -2.1
Rhode_Island             138,813  ...                                       0.3
South_Carolina           622,112  ...                                       5.6
South_Dakota             129,164  ...                                       5.6
Tennessee                824,595  ...                                       0.9
Texas                  3,382,887  ...                                       6.4
Utah                     446,652  ...                                       9.0
Vermont                   95,762  ...                                      -1.8
Virginia                 998,601  ...                                       2.1
Washington               839,709  ...                                       5.6
West_Virginia            322,389  ...                                      -3.8
Wisconsin                797,621  ...                                      -1.3
Wyoming                   98,226  ...                                       3.0

[59 rows x 14 columns]

In [ ]:
data = uploaded[file_name].decode("utf-8").split("\r\n")

for i in range(len(data)):
  data[i] = data[i].split(",")

print(data)

[['Table 203.20. Enrollment in public elementary and secondary schools', ' by region', ' state', ' and jurisdiction: Selected years', ' fall 1990 through fall 2029'], ['Region', ' state', ' and'], ['jurisdiction'], ['Actual total enrollment'], ['Percent'], ['change'], ['in total'], ['enrollment', ''], ['2012 to'], ['2017'], ['Projected enrollment'], ['Percent'], ['change'], ['in total'], ['enrollment', ''], ['2017 to'], ['Fall 1990 Fall 2000 Fall 2007 Fall 2008 Fall 2009 Fall 2010 Fall 2011 Fall 2012 Fall 2013 Fall 2014 Fall 2015 2029 1 Fall 20162 Fall 20171 Fall 2018 Fall 2019 Fall 2020 Fall 2021 Fall 2022 Fall 2029'], ['1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22'], ['United States 41', '216', '683 47', '203', '539 49', '290', '559 49', '265', '572 49', '360', '982 49', '484', '181 49', '521', '669 49', '771', '118 50', '044', '522 50', '312', '581 50', '438', '043 50', '615', '189 50', '685', '567 1.8 50', '649', '800 50', '634', '000 50', '654', '200 50', '643', '100 50', '721', '200 51', '068', '100 0.8'], ['Region'], ['Northeast 7', '281', '763 8', '222', '127 8', '122', '022 8', '052', '985 8', '092', '029 8', '071', '335 7', '953', '981 7', '959', '128 7', '961', '243 7', '979', '856 7', '933', '762 7', '959', '304 7', '946', '536 -0.2 7', '915', '600 7', '889', '500 7', '866', '800 7', '838', '300 7', '824', '100 7', '705', '000 -3.0'], ['Midwest 9', '943', '761 10', '729', '987 10', '770', '210 10', '742', '973 10', '672', '171 10', '609', '604 10', '573', '792 10', '559', '230 10', '572', '920 10', '560', '539 10', '555', '579 10', '538', '947 10', '523', '753 -0.3 10', '488', '200 10', '455', '400 10', '437', '400 10', '413', '800 10', '400', '300 10', '300', '900 -2.1'], ['South 14', '807', '016 17', '007', '261 18', '422', '773 18', '490', '770 18', '651', '889 18', '805', '000 18', '955', '932 19', '128', '376 19', '298', '714 19', '506', '193 19', '641', '472 19', '749', '816 19', '824', '469 3.6 19', '849', '000 19', '878', '600 19', '926', '300 19', '975', '000 20', '065', '800 20', '519', '200 3.5'], ['West 9', '184', '143 11', '244', '164 11', '975', '554 11', '978', '844 11', '944', '893 11', '998', '242 12', '037', '964 12', '124', '384 12', '211', '645 12', '265', '993 12', '307', '230 12', '367', '122 12', '390', '809 2.2 12', '397', '100 12', '410', '500 12', '423', '700 12', '416', '000 12', '431', '000 12', '543', '100 1.2'], ['State'], ['Alabama 721', '806 739', '992 742', '919 745', '668 748', '889 755', '552 744', '621 744', '637 746', '204 744', '164 743', '789 744', '930 742', '444 -0.3 737', '200 733', '500 732', '900 733', '500 735', '200 743', '900 0.2'], ['Alaska 113', '903 133', '356 131', '029 130', '662 131', '661 132', '104 131', '167 131', '489 130', '944 131', '176 132', '477 132', '737 132', '872 1.1 133', '200 133', '500 134', '100 134', '600 135', '500 138', '100 4.0'], ['Arizona 639', '853 877', '696 1', '087', '447 1', '087', '817 1', '077', '831 1', '071', '751 1', '080', '319 1', '089', '384 1', '102', '445 1', '111', '695 1', '109', '040 1', '123', '137 1', '110', '851 2.0 1', '111', '000 1', '112', '600 1', '113', '200 1', '113', '400 1', '115', '400 1', '139', '300 2.6'], ['Arkansas 436', '286 449', '959 479', '016 478', '965 480', '559 482', '114 483', '114 486', '157 489', '979 490', '917 492', '132 493', '447 496', '085 2.0 496', '100 496', '300 496', '600 497', '400 499', '400 510', '900 3.0'], ['California 4', '950', '474 6', '140', '814 6', '343', '471 6', '322', '528 6', '263', '438 6', '289', '578 6', '287', '834 6', '299', '451 6', '312', '623 6', '312', '161 6', '305', '347 6', '309', '138 6', '304', '266 0.1 6', '285', '300 6', '269', '700 6', '251', '900 6', '220', '500 6', '200', '300 6', '112', '700 -3.0'], ['Colorado 574', '213 724', '508 801', '867 818', '443 832', '368 843', '316 854', '265 863', '561 876', '999 889', '006 899', '112 905', '019 910', '280 5.4 912', '600 915', '000 917', '600 918', '300 921', '800 951', '100 4.5'], ['Connecticut 469', '123 562', '179 570', '626 567', '198 563', '968 560', '546 554', '437 550', '954 546', '200 542', '678 537', '933 535', '118 531', '288 -3.6 524', '300 517', '900 511', '900 505', '600 501', '100 478', '000 -10.0'], ['Delaware 99', '658 114', '676 122', '574 125', '430 126', '801 129', '403 128', '946 129', '026 131', '687 134', '042 134', '847 136', '264 136', '293 5.6 136', '900 137', '500 138', '000 138', '200 138', '800 138', '800 1.8'], ['District of Columbia 80', '694 68', '925 78', '422 68', '681 69', '433 71', '284 73', '911 76', '140 78', '153 80', '958 84', '024 85', '850 87', '315 14.7 87', '200 89', '700 91', '800 94', '000 96', '100 99', '800 14.3'], ['Florida 1', '861', '592 2', '434', '821 2', '666', '811 2', '631', '020 2', '634', '522 2', '643', '347 2', '668', '156 2', '692', '162 2', '720', '744 2', '756', '944 2', '792', '234 2', '816', '791 2', '832', '424 5.2 2', '849', '400 2', '865', '200 2', '887', '200 2', '908', '600 2', '935', '700 3', '109', '900 9.8'], ['Georgia 1', '151', '687 1', '444', '937 1', '649', '589 1', '655', '792 1', '667', '685 1', '677', '067 1', '685', '016 1', '703', '332 1', '723', '909 1', '744', '437 1', '757', '237 1', '764', '346 1', '768', '642 3.8 1', '767', '200 1', '765', '600 1', '765', '900 1', '767', '200 1', '770', '700 1', '785', '300 0.9'], ['Hawaii 171', '708 184', '360 179', '897 179', '478 180', '196 179', '601 182', '706 184', '760 186', '825 182', '384 181', '995 181', '550 180', '837 -2.1 180', '600 180', '300 179', '500 178', '500 177', '400 168', '600 -6.8'], ['Idaho 220', '840 245', '117 272', '119 275', '051 276', '299 275', '859 279', '873 284', '834 296', '476 290', '885 292', '277 297', '200 301', '186 5.7 303', '500 305', '900 308', '100 310', '300 312', '600 326', '200 8.3'], ['Illinois 1', '821', '407 2', '048', '792 2', '112', '805 2', '119', '707 2', '104', '175 2', '091', '654 2', '083', '097 2', '072', '880 2', '066', '990 2', '050', '239 2', '041', '779 2', '026', '718 2', '005', '153 -3.3 2', '000', '200 1', '991', '600 1', '984', '800 1', '976', '800 1', '966', '000 1', '872', '000 -6.6'], ['Indiana 954', '525 989', '267 1', '046', '764 1', '046', '147 1', '046', '661 1', '047', '232 1', '040', '765 1', '041', '369 1', '047', '385 1', '046', '269 1', '046', '757 1', '049', '547 1', '054', '187 1.2 1', '053', '400 1', '050', '400 1', '050', '200 1', '051', '100 1', '052', '500 1', '065', '700 1.1'], ['Iowa 483', '652 495', '080 485', '115 487', '559 491', '842 495', '775 495', '870 499', '825 502', '964 505', '311 508', '014 509', '831 511', '850 2.4 511', '700 512', '600 513', '800 514', '100 516', '400 521', '800 1.9'], ['Kansas 437', '034 470', '610 468', '295 471', '060 474', '489 483', '701 486', '108 489', '043 496', '440 497', '275 495', '884 494', '347 497', '088 1.6 495', '100 493', '700 492', '400 490', '300 489', '200 478', '900 -3.7'], ['Kentucky 636', '401 665', '850 666', '225 670', '030 680', '089 673', '128 681', '987 685', '167 677', '389 688', '640 686', '598 684', '017 680', '978 -0.6 678', '900 677', '000 676', '000 674', '800 675', '300 683', '100 0.3'], ['Louisiana 784', '757 743', '089 681', '038 684', '873 690', '915 696', '558 703', '390 710', '903 711', '491 716', '800 718', '711 716', '293 715', '135 0.6 710', '600 706', '800 703', '900 702', '800 702', '700 700', '900 -2.0'], ['Maine 215', '149 207', '037 196', '245 192', '935 189', '225 189', '077 188', '969 185', '739 183', '995 182', '470 181', '613 180', '512 180', '473 -2.8 179', '200 178', '100 177', '300 176', '700 176', '100 174', '500 -3.3'], ['Maryland 715', '176 852', '920 845', '700 843', '861 848', '412 852', '211 854', '086 859', '638 866', '169 874', '514 879', '601 886', '221 893', '684 4.0 898', '800 904', '800 908', '300 911', '000 914', '600 910', '500 1.9'], ['Massachusetts 834', '314 975', '150 962', '958 958', '910 957', '053 955', '563 953', '369 954', '773 955', '739 955', '844 964', '026 964', '514 964', '791 1.0 963', '100 960', '800 958', '400 955', '100 953', '600 945', '400 -2.0'], ['Michigan 1', '584', '431 1', '720', '626 1', '692', '739 1', '659', '921 1', '649', '082 1', '587', '067 1', '573', '537 1', '555', '370 1', '548', '841 1', '537', '922 1', '536', '231 1', '528', '666 1', '516', '398 -2.5 1', '499', '800 1', '484', '200 1', '473', '200 1', '461', '600 1', '452', '300 1', '421', '500 -6.3'], ['Minnesota 756', '374 854', '340 837', '578 836', '048 837', '053 838', '037 839', '738 845', '404 850', '973 857', '235 864', '384 875', '021 884', '944 4.7 892', '200 897', '200 903', '300 907', '800 912', '200 929', '300 5.0'], ['Mississippi 502', '417 497', '871 494', '122 491', '962 492', '481 490', '526 490', '619 493', '650 492', '586 490', '917 487', '200 483', '150 478', '321 -3.1 471', '400 465', '500 460', '600 456', '400 452', '500 427', '100 -10.7'], ['Missouri 816', '558 912', '744 917', '188 917', '871 917', '982 918', '710 916', '584 917', '900 918', '288 917', '785 919', '234 915', '040 915', '472 -0.3 913', '100 911', '800 911', '700 911', '100 912', '600 918', '100 0.3'], ['Montana 152', '974 154', '875 142', '823 141', '899 141', '807 141', '693 142', '349 142', '908 144', '129 144', '532 145', '319 146', '375 149', '474 4.6 150', '400 151', '500 152', '400 153', '100 154', '100 159', '500 6.7'], ['Nebraska 274', '081 286', '199 291', '244 292', '590 295', '368 298', '500 301', '296 303', '505 307', '677 312', '635 316', '014 319', '194 323', '766 6.7 325', '900 328', '300 330', '400 331', '900 333', '800 345', '700 6.8'], ['Nevada 201', '316 340', '706 429', '362 433', '371 428', '947 437', '149 439', '634 445', '707 451', '831 459', '189 467', '527 473', '744 485', '785 9.0 492', '200 499', '300 506', '200 512', '600 519', '700 554', '000 14.0'], ['New Hampshire 172', '785 208', '461 200', '772 197', '934 197', '140 194', '711 191', '900 188', '974 186', '310 184', '670 182', '425 180', '888 179', '433 -5.0 177', '900 176', '400 174', '600 173', '000 171', '600 166', '100 -7.4'], ['New Jersey 1', '089', '646 1', '313', '405 1', '382', '348 1', '381', '420 1', '396', '029 1', '402', '548 1', '356', '431 1', '372', '203 1', '370', '295 1', '400', '579 1', '408', '845 1', '410', '421 1', '408', '102 2.6 1', '402', '200 1', '396', '800 1', '392', '000 1', '385', '600 1', '381', '300 1', '353', '100 -3.9'], ['New Mexico 301', '881 320', '306 329', '040 330', '245 334', '419 338', '122 337', '225 338', '220 339', '244 340', '365 335', '694 336', '263 334', '345 -1.1 330', '600 327', '200 323', '700 320', '100 317', '000 294', '200 -12.0'], ['New York 2', '598', '337 2', '882', '188 2', '765', '435 2', '740', '592 2', '766', '052 2', '734', '955 2', '704', '718 2', '710', '703 2', '732', '770 2', '741', '185 2', '711', '626 2', '729', '776 2', '724', '663 0.5 2', '718', '900 2', '715', '500 2', '710', '800 2', '704', '500 2', '704', '400 2', '661', '500 -2.3'], ['North Carolina 1', '086', '871 1', '293', '638 1', '489', '492 1', '488', '645 1', '483', '397 1', '490', '605 1', '507', '864 1', '518', '465 1', '530', '857 1', '548', '895 1', '544', '934 1', '550', '062 1', '553', '513 2.3 1', '550', '400 1', '548', '600 1', '550', '200 1', '551', '800 1', '563', '200 1', '598', '400 2.9'], ['North Dakota 117', '825 109', '201 95', '059 94', '728 95', '073 96', '323 97', '646 101', '111 103', '947 106', '586 108', '644 109', '706 111', '920 10.7 111', '100 113', '000 115', '100 117', '000 119', '000 130', '300 16.5'], ['Ohio 1', '771', '089 1', '835', '049 1', '827', '184 1', '817', '163 1', '764', '297 1', '754', '191 1', '740', '030 1', '729', '916 1', '724', '111 1', '724', '810 1', '716', '585 1', '710', '143 1', '704', '399 -1.5 1', '690', '900 1', '679', '900 1', '671', '100 1', '662', '400 1', '657', '200 1', '631', '400 -4.3'], ['Oklahoma 579', '087 623', '110 642', '065 645', '108 654', '802 659', '911 666', '120 673', '483 681', '848 688', '511 692', '878 693', '903 695', '092 3.2 697', '400 698', '500 699', '900 700', '100 702', '500 709', '900 2.1'], ['Oregon 472', '394 546', '231 565', '586 575', '393 582', '839 570', '720 568', '208 587', '564 593', '000 601', '318 608', '825 606', '277 608', '014 3.5 610', '200 612', '600 616', '200 619', '000 623', '000 637', '100 4.8'], ['Pennsylvania 1', '667', '834 1', '814', '311 1', '801', '971 1', '775', '029 1', '785', '993 1', '793', '284 1', '771', '395 1', '763', '677 1', '755', '236 1', '743', '160 1', '717', '414 1', '727', '497 1', '726', '809 -2.1 1', '719', '900 1', '714', '700 1', '713', '800 1', '711', '000 1', '709', '800 1', '704', '500 -1.3'], ['Rhode Island 138', '813 157', '347 147', '629 145', '342 145', '118 143', '793 142', '854 142', '481 142', '008 141', '959 142', '014 142', '150 142', '949 0.3 143', '200 142', '800 142', '100 141', '600 141', '200 139', '900 -2.1']]

In [ ]:
data_top = file_name.head()  
    
# display  
data_top

AttributeError: ignored

In [ ]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['table1_hso.txt']))

KeyError: ignored

In [ ]:
with open(file='', mode='r', ) as dataFile:
  print(dataFile)

FileNotFoundError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# New Section

In [ ]:

with open(file='/content/drive/MyDrive/table1_hso.txt', mode='r', ) as dataFile:
  file_data = dataFile

In [ ]:
file_data()

TypeError: ignored

In [ ]:
 for line in dataFile:
    print(line)

NameError: ignored