<a href="https://colab.research.google.com/github/Arush0113/ArushTensorflowRepo/blob/main/India%20Today%20AI_ML%20Profile/India_Today_ML_assignment_q1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/eyewear_ml_challenge.csv', delimiter = ',')

In [3]:
df

      Unnamed: 0  ... frame_shape
0              0  ...   Rectangle
1              1  ...   Rectangle
2              2  ...   Rectangle
3              3  ...   Rectangle
4              4  ...   Rectangle
...          ...  ...         ...
5564        5565  ...   Rectangle
5565        5566  ...   Rectangle
5566        5567  ...   Rectangle
5567        5568  ...   Rectangle
5568        5569  ...   Rectangle

[5569 rows x 6 columns]

In [15]:
import pandas as pd
import numpy as np
import tensorflow as tf
import requests
from tqdm.notebook import trange, tqdm
import shutil
import os
from sklearn.model_selection import train_test_split

In [5]:
!mkdir /content/drive/MyDrive/india_today_images

mkdir: cannot create directory ‘/content/drive/MyDrive/india_today_images’: File exists

In [6]:
# for i,row in tqdm(df.iterrows()):
#     image_url = row['Image_Front']
#     # print(image_url)
#     filename = image_url.split("/")[-1]

#     r = requests.get(image_url, stream = True)

#     if r.status_code == 200:
#         r.raw.decode_content = True
        
#         with open('/content/drive/MyDrive/india_today_images/'+filename,'wb') as f:
#             shutil.copyfileobj(r.raw, f)
            
#         print('Image sucessfully Downloaded: ',filename)
#     else:
#         print('Image Couldn\'t be retreived')

In [16]:
file_path = os.listdir('/content/drive/MyDrive/india_today_images')
print(len(file_path))

train_images, test_images = train_test_split(file_path, test_size = 0.15)

5534

In [19]:
print(len(train_images))
print(len(test_images))

4703
831